@media (max-width: 768px) {
  #gallerySection {
    width: 100%;
    overflow-x: scroll;
  }
  .slide-ova-gallery-selectors {
    display: none;
  }
  .slide-ova-slide {
    height: 320px;
  }
}
@media (min-width: 768px) {
  .slide-container,
  .gallery-container {
    /*position: relative;*/
  }
  .gallery-container {
    padding-top: 6px;
    padding-bottom: 32px;
  }
  .slide-ova-gallery-modal.in {
    bottom: 0;
    top: auto;
  }
}
.slide-ova-gallery-modal .modal-header {
  border: none;
}
.slide-ova-gallery-modal.in {
  top: 69px;
}
.modal.slide-ova-gallery-modal.fade:not(.in) .modal-dialog {
  -webkit-transform: translate3d(0, 25%, 0);
  transform: translate3d(0, 25%, 0);
}
.slide-ova-slide {
  margin: 0 auto;
  text-align: center;
}
.slide-ova-slide img {
  display: inline-block;
  max-height: 100%;
}
.slide-desc,
.gallery-desc {
  margin: 10px auto 30px auto;
  text-align: center;
}
.slides-wrapper,
.galleries-wrapper {
  position: relative;
}

.slides-wrapper {
  height: 162px;
  margin: 0 auto;
  overflow: scroll;
  overflow: -moz-scrollbars-none;
}
.slides-wrapper::-webkit-scrollbar {
  display: none;
}
@media (min-width: 768px) {
  .slides-wrapper {
    width: 852px;
  }
  .galleries-wrapper {
    width: 960px;
    height: 540px;
    margin: 0 -10px;
    overflow: hidden;
  }
}
.slides-wrapper > .slides-holder {
  width: 400%; /*calculated in js*/
  position: absolute;
}
@media (min-width: 768px) {
  .galleries-wrapper > .galleries-holder {
    width: 400%; /*calculated in js*/
    position: absolute;
  }
}
.slides-wrapper > .slides-holder a,
.galleries-wrapper > .galleries-holder a {
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  vertical-align: top;
  position: relative;
}
.slides-wrapper > .slides-holder {
  -webkit-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
}
.slides-wrapper > .slides-holder a {
  height: 122px;
  width: 122px;
}
.galleries-wrapper > .galleries-holder a {
  height: 225px;
  width: 225px;
}
.slides-wrapper > .slides-holder a img,
.galleries-wrapper > .galleries-holder a img {
  margin-bottom: 0px;
}
.galleries-wrapper > .galleries-holder a .gallery-title {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.8+100 */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */
}
.slides-wrapper > .slides-holder a small,
.galleries-wrapper > .galleries-holder a small {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  display: block;
  line-height: 1em;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
.slides-set-bar,
.slide-ova-gallery-selectors {
  margin: 0;
  bottom: 0;
}
.slide-ova-gallery-selectors {
  position: absolute;
  width: 100%;
}
.slides-set-bar {
  height: 20px;
  text-align: left;
  background-color: #1d1d1d;
  position: fixed;
  padding: 0px;
}
.slides-set-bar .slides-set-selector {
  display: inline-block;
  cursor: pointer;
  height: 20px;
  min-width: 20px;
  background-color: #404040;
  text-indent: -9999px;
}
.slides-col {
  float: left;
}
.galleries-col {
  float: left;
}
@media (min-width: 768px) {
  .galleries-col {
    width: 980px;
  }
}
.slide-ova-gallery-selectors {
  text-align: center;
}
.slides-set-bar li {
  display: inline-block;
  cursor: pointer;
  height: 20px;
  min-width: 20px;
  background-color: transparent;
  text-indent: -9999px;
}
.slides-set-bar li.active {
  background-color: #404040;
}
.slide-ova-gallery-selectors li {
  display: inline-block;
  height: 34px;
  width: 34px;
  padding: 0;
  line-height: 32px;
  cursor: pointer;
  margin: 5px;
  background: #1F1F1F;
  background: linear-gradient(to bottom, #303030 0%, #1F1F1F 100%) repeat scroll 0% 0% transparent;
  border: 2px solid #5a5a5a;
  color: #fff;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}
.slide-ova-gallery-selectors li.active {
  color: #D43337;
}

/*==========  Mobile First Method  ==========*/

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .slide-desc,
  .gallery-desc {
    /*min-height: 214px;*/
    margin-top: 0;
    text-align: left;
  }
  .slide-desc h2,
  .gallery-desc h2 {
    display: inline;
    margin-bottom: 1rem !important;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .slide-desc,
  .gallery-desc {
    margin-bottom: 0;
  }
}
